/* Imports - Tipografía */
@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400;0,500;1,400;1,500&display=swap");

html {
  font-family: "Inter", sans-serif;
  font-family: "Ibarra Real Nova", serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
    font-family: "Ibarra Real Nova", serif;
  }
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

body {
  line-height: 1.5;
  height: 100vh;
  max-height: 100vh;
  /* overflow: hidden; */
}

ul {
  margin: 0;
  padding-inline: 0;
}

li {
  list-style: none;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: rgb(145, 145, 145);
}

img,
picture {
  max-width: 100%;
  display: block;
}
video {
  max-width: 100%;
  display: block;
}

.serif {
  font-family: var(--font-serif);
  font-size: 20px;
}

.sans {
  font-family: var(--font-sans);
  font-size: 17px;
  font-weight: 400;
}

@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behaviour: auto !important;
  }
}

/* Variables */
:root {
  /* 1. Colores */
  --black: #ffffff;
  --white: #000000;
  /* 2. Tipografía */
  --font-sans: "Inter var", sans-serif;
  --font-serif: "Ibarra Real Nova", serif;
  /*'Inter var'*/
  --font-size-1: 1rem;
  --font-size-2: 1.1rem;
  --font-size-3: 1.25rem;
  --font-size-4: 1.5rem;
  --font-size-5: 2rem;
  --font-size-6: 2.5rem;
  --font-size-fluid-1: clamp(1rem, 4vw, 1.5rem);
  --font-size-fluid-2: clamp(1.5rem, 6vw, 2.5rem);
  --font-size-fluid-3: clamp(2rem, 9vw, 3.5rem);
  /* 3. Layouts */
  --size-mobile: 414px;
  --size-desktop: 1440px;
}

/* Base */
body {
  background-color: var(--black);
  color: var(--white);
}

/* Home-top */
.home-top {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding-left: 30px;
  height: 100vh;
}

.home-top .logo h1 {
  font-family: var(--font-serif);
  font-size: 20px;
  font-weight: 500;
}

.nav {
  top: 0.1px;
  position: sticky;
}

.logo {}

.home-left {
  position: relative;
  height: 100vh;
}

/* Hide arrow */
details>summary {
  list-style: none;
  padding-top: 60px;
}

details>summary::-webkit-details-marker {
  display: none;
}

details .details-bottom {
  position: absolute;
  bottom: 10px;
  width: 100px;
  margin-top: auto;
  padding-bottom: 30px;
}

nav {
  grid-column: 2 / 4;
}

/* Proyectos */
.proyectos {
  background-color: #000000;
  color: #ffffff;
  /* padding-top: 90px; */
  max-height: 100vh;
  padding-left: 0;
  margin: 0;
  overflow-y: scroll;
  height: 1000px;
  grid-column: 5 / 8;
}
.proyectos-b{
  color: #000000;
  /* background-color: aqua; */
  /* padding-top: 90px; */
  max-height: 100vh;
  padding-left: 0;
  margin: 0;
  overflow-y: scroll;
  height: 1000px;
  grid-column: 5 / 8;
}
.proyectos p {
  font-size: 16px;
  /* padding-bottom: 20px; */
  font-family: var(--font-sans);
 padding-right: 40px;
 padding-left: 40px;
}
.proyectos-b p {
  font-size: 16px;
  /* padding-bottom: 20px; */
  font-family: var(--font-sans);
  padding-right: 40px;
  padding-left: 40px;
}
.active {
 font-weight: bold;
}
